body {
  margin: 0;
}

._container {
  display: flex;
}

._menu {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #f8f8f8;
  overflow-y: auto;

  a {
    padding: 8px 16px;
    font-size: 18px;
    display: block;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #c8c8c8;

    &:hover {
      background-color: lightgreen;
    }

    &.active {
      background-color: green;
      color: white;
    }
  }
}

._content {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100vh;
}

._theme-switcher {
  margin: 8px auto;
  padding: 4px 0;
  display: block;
}
